<ion-list lines="full">
  <ion-item-divider>
    <ion-label> Configuration details </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label position="stacked">Scanner name</ion-label>
    <ion-input inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Timeout (stand-by)</ion-label>
    <ion-input inputmode="numeric"></ion-input>
  </ion-item>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Feedback type</ion-label>
          <ion-radio-group value="audible">
            <ion-item>
              <ion-label>Audible</ion-label>
              <ion-radio slot="start" value="audible"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Visible</ion-label>
              <ion-radio slot="start" value="visible"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Feedback option</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
